body {
	font-family: "Merriweather", serif;
	font-weight: 400;
	color: #333;
	background: #f8f8f8 url(../images/gray_jean.png);
	margin: 0 auto;
	padding: 0;
	min-width: 540px;
	max-width: 1440px;
}

h1, h2 {
	text-align: center;
}

h1 {
	font-family: "Vollkorn";
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	font-size: 2.5em;
	line-height: 1;
	letter-spacing: -1px;
	margin-top:	15px 0;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1em;
	font-weight: 400;
}

hr {
	border: none;
	border-bottom: 1px solid #999;
}

strong {
	font-weight: 700;
}

#results > div {
	width: 48%;
	float: left;
	padding: 1%;
}

ul {
	padding: 0;
}

ul, li {
	list-style-type: none;
}

.search-form {
	text-align: center;
	position: relative;
}

.search-form > input[type="text"] {
	width: 50%;
	height: 1em;
	padding: 1em;
	border-radius: 20px;
	border: 1px solid #555;
	outline: none;
}

.search-form > input[type="submit"] {
	display: none;
}

.item {
	padding: 0;
	margin: 0 0 50px 0;
	word-wrap: break-word;
	line-height: 1.4em;
}

.item h1, .item h2 {
	font-size: 1.2em;
	text-align: left;
	font-weight: 700;
}

.item-text {
	margin: 0;
	font-size: 0.75em;
	line-height: 1.5em;
}

.height-limited {
	overflow: hidden;
	max-height: 17.9em;
}

.attachment {
	margin-bottom: 1em;
}

.attachment-content {
	max-width: 67%;
	padding-left: 3%;
}

.attachment-text {
	margin: 5px 0 0 0;
	font-size: 0.75em;
	line-height: 1.4em;
}

.attachment img {
	max-width: 30%;
}

.attachment img, .attachment-content {
	float: left;
}

.item-footer {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	letter-spacing: 0.05em;
	clear: both;
	font-size: 0.7em;
	padding: 0 0 0 1.5em;
	line-height: 2em;
}

.item-footer img {
	vertical-align: bottom;
}

.item-footer li {
	display: inline;
}

.item-footer .date {
	color: #999;
}

.item-footer li + li {
	margin-left: 2em;
}

a:link, a:visited {
	color: #1b86ff;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.num-results {
	font-size: 0.6em;
}

/* Specific styles */

#google-plus-end, #reddit-end {
	text-align: center;
	font-size: 1.5em;
	margin-top: 30px;
}

.google-plus .item-footer img {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-right: 0.4em;
}

.facebook .item-footer img {
	vertical-align: -17%;
}

.facebook .attachment {
	margin-top: 1em;
}

.facebook-icon {
	padding-right: 0.1em;
}

.attachment-content.full-width {
	max-width: 97%;
}
