body {
	font-family: "Open Sans", sans-serif;
	color: #222;
	background-color: #f8f8f8;
}

h1, h2 {
	text-align: center;
}

h1 {
	font: 800 64px/64px "Vollkorn";
	letter-spacing: 1em;
	padding-left: 1em;
	text-transform: uppercase;
	font-size: 1.5em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1em;
	font-weight: normal;
}

#results > div {
	width: 31%;
	float: left;
	padding: 1%;
}

ul {
	list-style-type: none;
	padding: 0;
}

.item {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 1px dashed gray;
	word-wrap: break-word;
}

.search-form {
	text-align: center;
	position: relative;
}

.search-form > input[type="text"] {
	width: 50%;
	height: 1em;
	padding: 1em;
	border-radius: 20px;
	border: 1px solid #555;
	outline: none;
}

.search-form > input[type="submit"] {
	display: none;
}

.attachment-content {
	max-width: 67%;
	padding-left: 3%;
}

.attachment-content p {
	margin: 5px 0 0 0;
	font-size: 0.7em;
}

.attachment img, .attachment-content {
	float: left;
}

.item-info {
	clear: both;
	font-size: 0.5em;
	padding: 1.5em 0 0 1.5em;
	line-height: 2em;
}

.item-info img {
	border-radius: 10px;
	vertical-align: bottom;
	width: 20px;
	margin-right: 0.4em;
}

.item-info li {
	display: inline;
}

.item-info .date {
	color: #999;
}

.item-info li + li {
	margin-left: 2em;
}

a:link, a:visited {
	color: #1b86ff;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}


/* Specific styles */

.google-plus .attachment img {
	max-width: 30%;
}

.facebook .attachment {
	margin-top: 1em;
}

.facebook .item.photo .attachment img {
	max-width: 100%;
}

.facebook .item {
	line-height: 1em;
}

.height-limited {
	line-height: 1.2em;
	overflow: hidden;
	max-height: 17.9em;
}

.facebook-icon {
	vertical-align: middle;
	padding-right: 0.5em;
}