<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Scour</title>

	<link href="http://fonts.googleapis.com/css?family=Open+Sans|Vollkorn" rel="stylesheet" type="text/css">

	<!--
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular-resource.min.js"></script>
	-->
	<script src="scripts/jquery-1.9.1.min.js"></script>
	<script src="scripts/jquery.appear.js"></script>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-resource.min.js"></script>
	<script src="scripts/main.js"></script>

	<link href="css/elusive-webfont.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="scour" ng-controller="ScoutCtrl">
	<h1>Scour</h1>

	<form ng-submit="search()" class="search-form">
		<input type="text" placeholder="search" autofocus ng-model="query" />
		<input type="submit" value=""/>
	</form>

	<section id="results">
		<div>
			<h2>
				<i class="icon-googleplus"></i>
				<span class="result-count">{{googlePlus.items.length}}</span>
			</h2>

			<ul class="google-plus">
				<li ng-repeat="item in googlePlus.items" class="item">
					<h3 ng-hide="item.title == ''">{{item.title}}</h3>

					<div ng-repeat="attachment in item.object.attachments" class="attachment">
						<img ng-src="{{attachment.image.url}}" />
						<div class="attachment-content">
							<a ng-href="{{attachment.url}}" target="_blank">{{attachment.displayName}}</a>
							<p class="height-limited">{{attachment.content}}</p>
						</div>

						<div style="clear:both;"></div> <!-- TODO remove hack... -->
					</div>

					<ul class="item-info">
						<li>
							<img ng-src="{{getGooglePlusActorImage(item.actor.image.url, 20)}}" />
							<a ng-href="{{item.actor.url}}" target="_blank">{{item.actor.displayName}}</a>
						</li>
						<li class="date">{{item.updated | date}}</li>
					</ul>
				</li>

				<li id="google-plus-end"></li>
			</ul>
		</div>
		
		<div>
			<h2>
				<i class="icon-twitter"></i>
				<span class="result-count">{{twitter.items.length}}</span>
			</h2>
			<ul class="twitter">
				<li ng-repeat="item in twitter.items" class="item">
					{{item.text}}

					<ul class="item-info">
						<li>
							<img ng-src="{{item.profile_image_url}}" />
							<a ng-href="https://www.twitter.com/{{item.from_user}}" target="_blank">{{item.from_user}}</a>
						</li>
						<li class="date">{{item.created_at | date:'MMM, d h:mm a'}}</li>
					</ul>
				</li>

				<li id="twitter-end"></li>
			</ul>
		</div>

		<div>
			<h2>
				<i class="icon-facebook"></i>
				<span class="result-count">{{facebook.items.length}}</span>
			</h2>

			<ul class="facebook">
				<li ng-repeat="item in facebook.items" class="item {{item.type}}">
					<div class="height-limited">
						{{item.message}}
					</div>

					<div ng-show="item.type == 'photo'" class="attachment">
						<img ng-src="{{item.picture}}" />
						<div class="attachment-content height-limited">
							{{item.caption}}
						</div>
					</div>

					<div ng-show="item.type == 'link'" class="attachment">
						<img ng-src="{{item.picture}}" />
						<div class="attachment-content height-limited">
							<a ng-href="{{item.link}}" target="_blank">{{item.name}}</a>
							<p>{{item.description}}</p>
						</div>
					</div>

					<div ng-show="item.type == 'video'" class="attachment">
						<img ng-src="{{item.picture}}" />
						<div class="attachment-content height-limited">
							<a ng-href="{{item.link}}" target="_blank">{{item.caption}}</a>
							<p>{{item.description}}</p>
						</div>
					</div>
					<ul class="item-info">
						<li><a ng-href="https://www.facebook.com/{{item.from.id}}" target="_blank">{{item.from.name}}</a></li>
						<li class="date">{{item.updated_time | date}}</li>
						<li ng-show="item.icon"><img ng-src="{{item.icon}}" class="facebook-icon" /></li>
					</ul>
				</li>

				<li id="facebook-end"></li>
			</ul>
		</div>
	</section>

</body>

</html>

