<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<!-- <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" /> -->
	<title>Scour</title>

	<script src="scripts/jquery-1.9.1.min.js"></script>
	<script src="scripts/jquery.appear.js"></script>
	<script src="scripts/underscore-min.js"></script>
	<script src="scripts/angular.min.js"></script>
	<script src="scripts/angular-resource.min.js"></script>
	<script src="scripts/angular-sanitize.min.js"></script>
	<script src="scripts/main.js"></script>

	<link href="http://fonts.googleapis.com/css?family=Vollkorn:300|Merriweather:400,700|Roboto:400" rel="stylesheet" type="text/css">
	<link href="css/scour-fontello.css" rel="stylesheet" type="text/css">
	<link href="css/animation.css" rel="stylesheet" type="text/css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<link href="images/favicon.png" rel="icon" type="image/png">
</head>

<body ng-app="scour" ng-controller="ScourCtrl">
	<h1>Scour</h1>

	<form ng-submit="search()" class="search-form">
		<input type="text" placeholder="search" autofocus ng-model="query" />
		<input type="submit" value=""/>
	</form>

	<section id="results">
		<div>
			<h2><i class="icon-googleplus"></i></h2>

			<ul class="google-plus">
				<li ng-repeat="item in googlePlus.items" class="item">
					<h3 ng-hide="item.title == ''">{{item.title}}</h3>

					<div ng-repeat="attachment in item.object.attachments" class="attachment">
						<img ng-src="{{attachment.image.url}}" />
						<div class="attachment-content" ng-class="{'full-width': !has('image', attachment)}">
							<a ng-href="{{attachment.url}}" target="_blank">{{attachment.displayName}}</a>
							<p class="attachment-text height-limited">{{attachment.content}}</p>
						</div>

						<div style="clear:both;"></div> <!-- TODO remove hack... -->
					</div>

					<ul class="item-footer">
						<li>
							<img ng-src="{{getGooglePlusActorImage(item.actor.image.url, 20)}}" />
							<a ng-href="{{item.actor.url}}" target="_blank">{{item.actor.displayName}}</a>
						</li>
						<li class="date">{{item.updated | date}}</li>
					</ul>
				</li>

				<li id="google-plus-end">
					<p class="num-results">{{googlePlus.items.length}} results found</p>
					<i class="icon-spin5 animate-spin" ng-show="googlePlus.searching"></i>
				</li>
			</ul>
		</div>
		
		<div>
			<h2><i class="icon-reddit"></i></h2>
			<ul class="reddit">
				<li ng-repeat="item in reddit.items" class="item">
					<h3><a ng-href="{{item.data.url}}" target="_blank" ng-bind-html="item.data.title"></a></h3>
					<p class="item-text" ng-if="item.data.selftext_html" ng-bind-html="unescape(item.data.selftext_html)"></p>

					<ul class="item-footer">
						<li><a ng-href="http://www.reddit.com/u/{{item.data.author}}" target="_blank"><i class="icon-user"></i> {{item.data.author}}</a></li>
						<li><i class="icon-heart"></i> {{item.data.score}}</li>
						<li><a ng-href="http://www.reddit.com{{item.data.permalink}}" target="_blank"><i class="icon-comment"></i>{{item.data.num_comments}}</a></li>
					</ul>
				</li>

				<li id="reddit-end">
					<p class="num-results">{{reddit.items.length}} results found</p>
					<i class="icon-spin5 animate-spin" ng-show="reddit.searching"></i>
				</li>
			</ul>
		</div>
	</section>

</body>

</html>

